* {
    box-sizing: border-box;
  }

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
}

.container {
  max-width: 1440px;
  padding: 24px;
  margin-left: auto;
  margin-right: auto;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 24px;
}

.gallery-image:hover {
  transform: scale(1.05);
}

.gallery-image {
  width: 360px;
  height: 200px;
  transition: transform 250ms ease-in-out;
}